<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head lang="en">
<title>Profile Picture Upload</title>
</head>
<body>
	<div class="row" layout:fragment="content">
		<h2 class="indigo-text center">Upload</h2>
		<div class="col s12 center red-text" th:text="${error}" th:if="${error}">
			Error during upload
		</div>
		<div class="col m8 s12 offset-m2">
			<img th:src="@{/uploadedPicture}" width="100" height="100"/>
		</div>
		<form th:action="@{/upload}" method="post" enctype="multipart/form-data" class="col m8 s12 offset-m2">
			<div class="input-field col s6">
				<input type="file" id="file" name="file" />
			</div>
			<div class="col s6 center">
				<button class="btn indigo waves-effect waves-light" type="submit" name="save" th:text="#{submit}">
					Submit <i class="mdi-content-send right"></i>
				</button>
			</div>
		</form>
	</div>
</body>
</html>