<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="UTF-8"></meta>
<title>Hello thymeleaf</title>
</head>
<body>
	<span th:text="${result}">Hello HtmL</span>
</body>
</html>